<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let products of productList">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{{products.productImg}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                          
                            <h4 class="card-title">
                                <a routerLink="view-product/{{products.id}}">{{products.productName}}</a>
                            </h4>
                            <!-- Product reviews-->
                            
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$18.00</span>
                            {{products.price}}

                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
        
</section>



<!--<div class="col-lg-4 col-md-6 mb-4" *ngFor="let products of productList">
    <div class="card-h-100">
        <a href="#" class="card-img-top" src="{{products.productImg}}"></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">Item One</a>
            </h4>
            <h5></h5>
            <p class="card-text">nhgthndghndndgh ghdht ndg dg ht rtys h dfgh fg h  sf hs fh sfh rt yr ty rt y rty </p>

        </div>
        <div class="card-footer">
            <small class="text-muted"> &#9733; &#9733;&#9733;&#9733;&#9733; </small>
        </div>
    </div>
</div>
-->

